<div class="top-scores">
  <h2>Top Scores</h2>
  <div class="difficulty-buttons">
    <button class="difficulty-button"
            (click)="onDifficultyChange('easy')"
            [class.active]="difficulty === 'easy'">Easy
    </button>
    <button class="difficulty-button"
            (click)="onDifficultyChange('medium')"
            [class.active]="difficulty === 'medium'">Medium
    </button>
    <button class="difficulty-button"
            (click)="onDifficultyChange('hard')"
            [class.active]="difficulty === 'hard'">Hard
    </button>
  </div>
  <button class="back-to-menu-button" (click)="goBackToMenu()">Back to Menu</button>
  <ul class="scores-list">
    <li *ngFor="let score of scores" class="score-item">
      <span class="rank">{{ scores.indexOf(score) + 1 }}.</span>
      <span class="player-name">{{ score.name }}</span>
      <span class="score">{{ score.score }}</span>
    </li>
  </ul>

</div>
