.top-scores {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
}

.top-scores h2 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

.difficulty-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.difficulty-button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.difficulty-button.active {
  background-color: #0056b3; /* Darker shade for active button */
}

.difficulty-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.scores-list {
  list-style-type: none;
  padding: 0;
}

.score-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.score-item:last-child {
  border-bottom: none;
}

.rank {
  font-weight: bold;
  color: #007bff;
}

.player-name {
  flex-grow: 1;
  padding: 0 10px;
  text-align: left;
  color: #555;
}

.score {
  font-weight: bold;
  color: #333;
}


.back-to-menu-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: 100%;
}

.back-to-menu-button:hover {
  background-color: #218838;
}
